#back
{
	background-color:black;
	color:white;  
}
.dropdown
{
	float:left;
	list-style:none;
	margin-left:25px;
	font-size:18px;
	margin-top:5px;
	margin-bottom:5px;
	
}
#left
{
   background-color:black;
   height:30px;   
}
#navbar
{
	background-color:black;
	color:white;
	font-size:18px;
	margin-top:5px;  
	margin-bottom:5px;
	font-family:Comic Sans MS;
}